/* blue: #007BFF */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    background-color: black;
    width: 100%;
    text-align: center;
    color: white;
    height: 80px;
    padding: 20px;
}

header h1 {
    
}

main {
    display: flex;
    flex-direction: row;
    
}
.col-1 {
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    width: 33%;
    padding: 20px 20px;
}

.search label, .search input, .search .btn {
    height: 30px;
    font-size: 24px;
    margin-top: 10px;
}

.btn {
    background-color: #007BFF;
    color: white;
    border-radius: 10px;
}

.col-2 {
    background-color: #F8F9FA;
    display: flex;
    flex-direction: column;
    width: 67%;
    padding: 20px 20px;
    align-content: flex-start;
}

.current-weather {
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px;
}

.five-day {
    margin-left: 10px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #007BFF;
    color: white;
    height: 160px;
    width: 120px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

